* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.mid{width: 50%; height: 50%;}

.mid1{display: flex;justify-content: space-around; align-items: center;}
.pic{width: 50%; height: 50%; }
.pic img {height: 400px; width: 400px; object-fit: cover;}
.bg-dark{height: 100vh; width: 100%;}